.btn1{
display: flex;
align-items:flex-end!important;
align-self: flex-end !important;
}




.menu {
width: 500px!important;
text-decoration: none;
padding: 20px;
margin: 10px;
font-weight: bold!important;
text-shadow: #282c34;
color: black;
}
.menu:hover {
color: rgb(47, 164, 207);
}


.btn{
justify-content: space-between;
margin: 10px!important;

}
.nav1 {
display: flex;
align-items: center;
padding: 10px 30px;
margin: 10px 10px;
width: 70px;

}
.album {
width: 200px;
border-radius: 20px;
}
.button2 {
background-color: rgb(47, 164, 207)!important;
color: rgb(231, 245, 251);
}
.button {
font-weight: 10px;
width: 5px;
color: blue;
}
.flex-parent {
display: flex;
}
.flex-child {
flex: 1;
}

.navmore {
text-decoration: none;
color: #5e6064;
}




.nav {
text-decoration: none!important;
color: white!important;
justify-content: space-between!important;

padding: 20px 10px;
margin: 10px 10px;
width: 70px;
}
.App {
  text-align: center;

}
.Button{
text-decoration: none!important;
border: none!important;
background-color: rgb(47, 164, 207)!important;
color: rgb(231, 245, 251);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
